/* You can add global styles to this file, and also import other style files */

*,
h1,
h2,
h3,
h4,
p,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}