<div class="plan-rai-content">
    <p class="liste-plan-rai">Liste des plan-rai</p>
    <div class="btn-search-plan-rai">
        <div class="imput-search-btn">
            <small> Filtrer par Toc:</small>
            <form action="#">
                <input type="search" name="searchToc" class="form-control" placeholder="Rechercher par ticket" autocomplete="off">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <button type="button" (click)="open(content,{})" class=" btn btn-primary plus "> <i class="fa-solid fa-plus "></i> Créer une PLan-rai</button>
    </div>
    <div class="content-tableau ">
        <table class="table table-hover" style="border: 1px solid #cccccc">
            <thead>
                <tr style="text-align: center;border: 1px solid #cccccc">
                    <th scope="col">#</th>
                    <th scope="col">TOC</th>
                    <th scope="col">Efficacité</th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Porteur</th>
                    <th scope="col">Status</th>
                    <th scope="col">Perimetre</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;border: 1px solid #cccccc" *ngFor="let toc of ListTocProbleme">
                    <th scope="row">#</th>
                    <td>{{ toc.Numerotocpro }}</td>
                    <!-- <td>{{ toc.planrai }}</td> -->
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Efficacite}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Libelle}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Porteur}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Status}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Perimetre}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="">
                        <button type="button" class="btn btn-secondary" style="    margin-right: 0.6rem;">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                        <button style="    margin-right: 0.6rem;" type="button" class="btn btn-danger" (click)="openEdit(content,toc)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                        <button type="button" class="btn btn-success" (click)="open(content)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel ">Création d'un plan d'action rai <i class="fa fa-tasks " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div id="imput-content-step3">
        <div class="imput-content-step3 " style="padding: 2rem 1rem 1rem  ">
            <div class="content ">
                <form class="form-horizontal style-form-control" [formGroup]="PasForm" (ngSubmit)="onSubmit()">
                    <div formArrayName="pas">
                        <div *ngFor="let skill of pas.controls; let i=index">
                            <div [formGroupName]="i" class="class-form" style="    display: flex;
                            justify-content: space-between;
                            gap: 1rem;">
                                <div class="rigth-div" style="width: 100%;    display: flex;
                                flex-direction: column;
                                gap: 0.8rem;">
                                    <div class="form-1 control-form" style="                        display: flex;
                                        width: 100%;
                                        gap: 2rem;">
                                        <div class=" form-group-div" style=" width: 100%">
                                            <label for="Priorite" style="    margin-bottom: 0.3rem;">TOC PROBLEMEE </label>
                                            <div class="">
                                                <select id="inputState" class="form-control" name="tocpr" formControlName="tocpr">
                                                  <option *ngFor="let d of dt " [value]="d.id ">{{d.Numerotocpro}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Libelle:</label>
                                            <div class="">
                                                <input type="text" formControlName="Libelle" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-2 control-form" style="                        display: flex;
                                        width: 100%;
                                        gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Porteur:</label>
                                            <div class="">
                                                <input type="text" formControlName="Porteur" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Perimetre:</label>
                                            <div class="">
                                                <select id="inputState" name="Perimetre" formControlName="Perimetre" class="form-control">
                                                    <option selected>Filiale</option>
                                                    <option selected>Applicatif</option>
                                                    <option selected>DBA</option>
                                                    <option selected>Système</option>
                                                    <option selected>Environnement technique</option>
                                                    <option selected>Management</option>
                                                    <option selected>Supervision</option>
                                                    <option selected>QoS</option>
                                                    <option selected>Outils</option>
                                                    <option selected>IncidentChange</option>
                                                    <option selected>Filiale</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-3 control-form" style="                        display: flex;
                                          width: 100%;
                                          gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Date P:</label>
                                            <div class="">

                                                <input type="date" formControlName="Dateprevisionel" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Date Ef:</label>
                                            <div class="">
                                                <input type="date" formControlName="Dateeffective" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-4 control-form" style="                        display: flex;
                                            width: 100%;
                                            gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Status:</label>
                                            <div class="">
                                                <select id="inputState" name="Priorite" formControlName="Status" class="form-control">
                                                  <option value="0">0</option>
                                                  <option value="1">1</option>
                                              </select>
                                            </div>
                                        </div>

                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Efficacite:</label>
                                            <div class="">
                                                <select id="inputState" name="Efficacite" formControlName="Efficacite" class="form-control">
                                                    <option selected></option>
                                                    <option selected>ACTION EFFICACE</option>
                                                    <option selected>ACTION NON EFFICACE</option>
                                                    <option selected>ACTION A SURVEILLER</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="    margin-bottom: 0.3rem;">Commentaire:</label>
                                        <div class="">
                                            <!-- <input type="text" height="10px" formControlName="Commentaire" class="form-control"> -->
                                            <textarea formControlName="Commentaire" id=" " cols="30 " style="width: 100%;" rows="5 "></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div style="    margin-top: 1.4rem;white-space: nowrap;">
                                    <button style="background:red;outline: none;" class="btn btn-primary " (click)="removePas(i)">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:right ;margin-top: 1em">
                        <button class="btn btn-primary" [disabled]="disableBtn" type="submit">Enregistrer le PA</button>
                    </div>
                </form>
            </div>

            <div class="footer-finale " style="display: flex;gap: 1rem;margin-top: 1em">
                <button class="btn btn-primary" style="background: orange;" (click)="addPas()">Ajouter un Plan d'action</button>
                <button class=" btn btn-secondary" (click)="deleStorageAndClose() ">Annuler</button>
            </div>
        </div>
    </div>
</ng-template>
