<div class="plan-rai-content">
    <p class="liste-plan-rai">Liste des plan-rai</p>
    <div class="btn-search-plan-rai">
        <div class="imput-search-btn">
            <small> Filtrer par Toc:</small>
            <form action="#">
                <input type="search" name="searchToc" class="form-control" placeholder="Rechercher par ticket" autocomplete="off">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!-- <button type="button" class=" btn btn-primary plus "> <i class="fa-solid fa-plus "></i> Créer une PLan-rai</button> -->
    </div>
    <div class="content-tableau ">
        <table class="table table-hover" style="border: 1px solid #cccccc">
            <thead>
                <tr style="text-align: center;border: 1px solid #cccccc">
                    <th scope="col">#</th>
                    <th scope="col">TOC</th>
                    <th scope="col">Efficacité</th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Porteur</th>
                    <th scope="col">Status</th>
                    <th scope="col">Perimetre</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;border: 1px solid #cccccc" *ngFor="let toc of ListTocProbleme">
                    <th scope="row">#</th>
                    <td>{{ toc.Numerotocpro }}</td>
                    <!-- <td>{{ toc.planrai }}</td> -->
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Efficacite}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Libelle}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Porteur}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Status}}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #cccccc;    padding: 0.4rem 0">
                        <table class="table partiale" style="border: 0px solid #cccccc">
                            <tr *ngFor="let t1 of toc.planrai">
                                <td>{{t1.Perimetre}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="">
                        <!-- <button type="button" class="btn btn-secondary" style="    margin-right: 0.6rem;">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button> -->
                        <button style="margin-right: 0.6rem;" type="button" class="btn btn-secondary" (click)="open(content,toc)">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                        <button style="    margin-right: 0.6rem;" type="button" class="btn btn-danger" (click)="openEdit(content,toc)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                        <button type="button" class="btn btn-success" (click)="openView(contentView,toc)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " style="font-size: 25px;
        font-weight: 600;" id="exampleModalLabel ">{{title}} du ticket: <span style="color: rgb(171, 171, 247);">{{defaultString}}</span><i class="fa fa-tasks " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div id="imput-content-step3">
        <div class="imput-content-step3 " style="padding: 0rem 1rem 1rem  ">
            <div class="content ">
                <form class="form-horizontal style-form-control" [formGroup]="PasForm" (ngSubmit)="submitValed()">
                    <div formArrayName="pas">
                        <div *ngFor="let skill of pas.controls; let i=index">
                            <div [formGroupName]="i" class="class-form" style="    display: flex;
                            justify-content: space-between;
                            gap: 1rem;">

                                <div class="rigth-div" style="width: 100%;    display: flex;
                                flex-direction: column;
                                gap: 0.8rem;    margin-top: 2rem;">
                                    <p style="    font-size: 1.3rem;
                                    font-weight: 600;
                                    margin-bottom: 1rem;
                                    color: orangered;">Plan d'action N*{{i+1}}</p>
                                    <div class="form-1 control-form" style="                        display: flex;
                                        width: 100%;
                                        gap: 2rem;">
                                        <div class=" form-group-div" style=" width: 100%">
                                            <label for="tocpr" style="    margin-bottom: 0.3rem;">Ticket oceane problème </label>
                                            <select id="inputState" class="form-control" formControlName="tocpr" name="tocpr">
                                              <option *ngFor="let d of ListTocProbleme" [value]="d.id ">{{d.Numerotocpro}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Libelle:</label>
                                            <div class="">
                                                <input type="text" [disabled]="disableChamp" formControlName="Libelle" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-2 control-form" style="                        display: flex;
                                        width: 100%;
                                        gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Porteur:</label>
                                            <div class="">
                                                <select class="form-select " name="Porteur " formControlName="Porteur">
                                                <option></option>
                                                <option *ngFor="let item of Porteur " [value]="item.value ">{{item.value}}</option>
                                              </select>
                                                <!-- <input type="text" [disabled]="disableChamp"  class="form-control"> -->
                                            </div>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Périmetre:</label>
                                            <div class="">
                                                <select id="inputState" [disabled]="disableChamp" name="Perimetre" formControlName="Perimetre" class="form-control">
                                                    <option selected>Filiale</option>
                                                    <option selected>Applicatif</option>
                                                    <option selected>DBA</option>
                                                    <option selected>Système</option>
                                                    <option selected>Environnement technique</option>
                                                    <option selected>Management</option>
                                                    <option selected>Supervision</option>
                                                    <option selected>QoS</option>
                                                    <option selected>Outils</option>
                                                    <option selected>IncidentChange</option>
                                                    <option selected>Filiale</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-3 control-form" style="                        display: flex;
                                          width: 100%;
                                          gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Date de planification:</label>
                                            <div class="">

                                                <input type="date" [disabled]="disableChamp" formControlName="Dateprevisionel" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Date f'efficacité:</label>
                                            <div class="">
                                                <input type="date" [disabled]="disableChamp" formControlName="Dateeffective" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-4 control-form" style="                        display: flex;
                                            width: 100%;
                                            gap: 2rem;">
                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Status:</label>
                                            <div class="">
                                                <select id="inputState" [disabled]="disableChamp" name="Priorite" formControlName="Status" class="form-control">
                                                  <option value="0">0</option>
                                                  <option value="1">1</option>
                                              </select>
                                            </div>
                                        </div>

                                        <div class="form-group-div" style=" width: 100%">
                                            <label style="    margin-bottom: 0.3rem;">Efficacite:</label>
                                            <div class="">
                                                <select id="inputState" [disabled]="disableChamp" name="Efficacite" formControlName="Efficacite" class="form-control">
                                                    <option selected></option>
                                                    <option selected>ACTION EFFICACE</option>
                                                    <option selected>ACTION NON EFFICACE</option>
                                                    <option selected>ACTION A SURVEILLER</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="    margin-bottom: 0.3rem;">Commentaire:</label>
                                        <div class="">
                                            <!-- <input type="text" height="10px" formControlName="Commentaire" class="form-control"> -->
                                            <textarea [disabled]="disableChamp" formControlName="Commentaire" id=" " cols="30 " style="width: 100%;" rows="5 "></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div style="    margin-top: 7.5rem;white-space: nowrap;">
                                    <button style="background:red;outline: none;" class="btn btn-primary " [disabled]="disableChamp" (click)="removePas(i)">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                          <div *ngIf="f.title.errors.required">Title is required</div>
                      </div> -->
                    </div>
                    <div style="float:right ;margin-top: 1em">
                        <button class="btn btn-primary" [disabled]="PasForm.invalid" type="submit">{{tilreBtn}}</button>
                    </div>
                </form>
            </div>

            <div class="footer-finale " style="display: flex;gap: 1rem;margin-top: 1em">
                <button class="btn btn-primary" [disabled]="disableBtnAdd" style="background: orange;" (click)="addPas()">Ajouter un Plan d'action</button>
                <button class=" btn btn-secondary" (click)="deleStorageAndClose() ">Annuler</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #contentView let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel " style="    font-size: 25px;
      font-weight: 600;">{{title}} du ticket: <span style="color: rgb(171, 171, 247);">{{defaultString}}</span> <i class="fa fa-tasks " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div class="modal-body " style="padding: 2rem 1.25rem;">
        <div>
            <div>
                <table style="width:100%">
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Numéro ticket incident:</td>
                        <td style="text-align: right;">{{elementView.Numerotocpro}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Porteurr:</td>
                        <td style="text-align: right;">{{elementView?.Porteur}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Type de problème:</td>
                        <td style="text-align: right;">{{elementView?.typeproblem}}</td>
                    </tr>
                    <table style="    margin-top: 1rem;
                    width: 100%;    margin-right: 12rem;
    margin-left: 8rem;
    margin-top: 1rem;" *ngFor="let item of elementView.planrai ; let i=index">

                        <small style="margin-bottom: 0.6rem;    color: red;
                        font-size: 1rem;
                        font-weight: 700;
                        margin-left: -8rem;">Corrurence N* {{i+1}}</small>

                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Libelle:</td>
                            <td style="text-align: right;color: red; ">{{item.Libelle}}</td>
                        </tr>

                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Périmetre:</td>
                            <td style="text-align: right;color: red; ">{{item.Perimetre}}</td>
                        </tr>
                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Porteur:</td>
                            <td style="text-align: right;color: red; ">{{item.Porteur}}</td>
                        </tr>
                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Date éfficacité:</td>
                            <td style="text-align: right;color: red; ">{{item.Dateeffective}}</td>
                        </tr>
                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Date prévionnelle:</td>
                            <td style="text-align: right;color: red; ">{{item.Dateprevisionel}}</td>
                        </tr>
                        <tr style="border-bottom: solid 0.5px #e2e2e2; font-size: 16px;font-weight: 700; ">
                            <td style="text-align: left; ">Status:</td>
                            <td style="text-align: right;color: red; ">{{item.Status}}</td>
                        </tr>
                    </table>
                    <div *ngIf="elementView.planrai.length===0" style="text-align: center;color: red;font-size: 1.4rem;font-weight:600;margin-top: 1rem;">
                        Aucun plan d'action est rattaché à ce Ticket !!
                    </div>
                </table>
                <!-- <div>
                    <button (click)="createPDF() " type="button " class="btn btn-secondary " style="margin-top: 0.7rem; ">
                    <i class="fa-solid fa-print " style="margin-right: 1rem; "></i>Edition des détails</button>
                </div> -->
            </div>
        </div>
    </div>

</ng-template>
