<div class="login-content">

    <div class="header-form">
        <img src="../../assets/GOS.jpeg" alt="logo">
        <p class="title">KILARI</p>
    </div>

    <p class="global-title">Se connecter</p>

    <div class="form-content">
        <form action="#">
            <div class="identifiant">
                <label for="identifiant" class="form-label"><i class="icon-user"></i>Identifiant</label>
                <input type="email" class="form-control imput-identifiant" id="identifiant">
            </div>

            <div class="password">
                <label for="password" class="form-label"><i class="icon-lock"></i> Mot de passe</label>
                <input type="password" class="form-control imput-password" id="password">
            </div>

            <div class="remember">

                <div class="form-check check-remember">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                  Remember me
                </label>
                </div>
                <a style="cursor: pointer;" class="oublier" (click)="openLock(contentLock)">Mot de passe oublié ?</a>
            </div>

            <div class="btn-connect">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>


        </form>

        <div class="create-count">
            <p>Don't have an account yet ?</p>
            <a style="cursor: pointer;" (click)="open(content)">Create an account</a>
        </div>
    </div>

</div>



<ng-template #content let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel ">Création un compte utilisateur <i class="fa fa-user " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div class="modal-body ">
        <button type="button " class="btn btn-secondary " (click)="deleStorageAndClose() ">Annuler</button>
        <button class="btn btn-primary" style="float: right; background: orange;" (click)="confirmSubmitPwdForgot()">Valider la modification</button>
    </div>
</ng-template>



<ng-template #contentLock let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel ">Mot de passe oublié <i class="fa fa-lock " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div class="modal-body mt-4">
        <button type="button " class="btn btn-secondary " (click)="deleStorageAndClose() ">Annuler</button>
        <button class="btn btn-primary" style="float: right; background: orange;" (click)="confirmSubmitPwdForgot()">Valider la modification</button>
    </div>
</ng-template>
