<div class="login-content">

    <div class="header-form">
        <img src="../../assets/GOS.jpeg" alt="logo">
        <p class="title">KILARI</p>
    </div>

    <p class="global-title">Se connecter</p>

    <div class="form-content">
        <form action="#">
            <div class="identifiant">
                <label for="identifiant" class="form-label"><i class="icon-user"></i>Identifiant</label>
                <input type="email" class="form-control imput-identifiant" id="identifiant">
            </div>

            <div class="password">
                <label for="password" class="form-label"><i class="icon-lock"></i> Mot de passe</label>
                <input type="password" class="form-control imput-password" id="password">
            </div>

            <div class="remember">

                <div class="form-check check-remember">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                  Remember me
                </label>
                </div>
                <a href="#" class="oublier">Mot de passe oublié ?</a>
            </div>

            <div class="btn-connect">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>


        </form>

        <div class="create-count">
            <p>Don't have an account yet ?</p>
            <a href="#">Create an account</a>
        </div>
    </div>

</div>