.login-content {
    display: flex;
    min-width: 334px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
    width: 100%;
    gap: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    .global-title {
        margin: 0;
        font-size: 1.9rem;
        font-weight: 700;
        text-align: center;
        color: #ff7900;
        margin-bottom: -22px;
    }
    .header-form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 29rem;
        align-items: center;
        img {
            width: 75px;
            height: 66px;
        }
        .title {
            margin: 0px;
            font-size: 3.2rem;
            font-weight: 700;
        }
    }
    .form-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            .identifiant {
                width: 100%;
                max-width: 29rem;
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    gap: 0.3rem;
                }
                .imput-identifiant {}
            }
            .password {
                width: 100%;
                max-width: 29rem;
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    gap: 0.3rem;
                }
                .imput-password {}
            }
            .remember {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                max-width: 29rem;
                align-items: center;
                .check-remember {}
                .oublier {
                    text-decoration: none;
                    color: #ff7900;
                    font-weight: 700;
                }
            }
            .btn-connect {
                width: 100%;
                max-width: 29rem;
                button {
                    width: 100%;
                }
            }
        }
        .create-count {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 0.7rem;
            font-size: 0.9rem;
            font-weight: 600;
            p {
                margin-top: 0;
            }
            a {
                text-decoration: none;
                color: #ff7900;
                outline: none;
            }
        }
    }
}