<div class="rai-content">
    <p class="liste-rai">Liste des utilisateurs</p>
    <div class="btn-search-rai">
        <div class="imput-search-btn">
            <small> Filtrer par nom:</small>
            <form action="#">
                <input type="text*" name="searchToc" class="form-control" placeholder="Rechercher par nom" autocomplete="off">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <button type="button" class=" btn btn-primary plus "> <i class="fa-solid fa-plus "></i> Créer un utilisateur</button>
    </div>
    <div class="content-tableau ">
        <nz-table #smallTable nzSize="small" [nzData]="ListUser">
            <thead>
                <tr>
                    <th style="font-size: 14px;font-weight: 600;">Nom</th>
                    <th style="font-size: 14px;font-weight: 600;">Prénoms</th>
                    <th style="font-size: 14px;font-weight: 600;">Email</th>
                    <th style="font-size: 14px;font-weight: 600;">Pictur</th>
                    <th style="font-size: 14px;font-weight: 600;">Identifiant</th>
                    <th style="font-size: 14px;font-weight: 600;">Rôle</th>
                    <th style="font-size: 14px;font-weight: 600;">Contact</th>
                    <th style="font-size: 14px;font-weight: 600;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of smallTable.data">
                    <td>{{item.Nom}}</td>
                    <td>{{item.Prenom}}</td>
                    <td>{{item.Email}}</td>
                    <td><span class="badge bg-warning">Pas de photo </span></td>
                    <td>{{item.username}}</td>

                    <td>
                        <span [ngClass]="{'bg-warning': item.role === 1,
                                                  'bg-success': item.role === 2 || item.role === 3 ,
                                                   'bg-light': item.light === 4 ,
                                                   'bg-info': item.role === 5 }" class="badge bg-warning">{{item.Libelle}}
                        </span>
                    </td>
                    <td>{{item.Contact}}</td>
                    <td class="">
                        <button style="    margin-right: 0.6rem;" type="button" class="btn btn-danger">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </button>
                        <button type="button" class="btn btn-success">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- <ng-template #content let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel " style="    font-size: 25px;
      font-weight: 600;">{{titleModal}} <i class="fa fa-users " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div class="modal-body ">
        <div class="modal-body ">
            <div class="content-one">
                <div class="row1">
                    <div class="nom">
                        <label class="mb-2" for="toc ">Nom: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " name="Nom " [(ngModel)]="userCount.Nom ">
                    </div>
                    <div class="prenom">
                        <label class="mb-2" for="toc ">Prénoms: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " name="Prenom " [(ngModel)]="userCount.Prenom ">
                    </div>
                </div>
                <div class="row2">
                    <div class="email">
                        <label class="mb-2" for="toc ">Email: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " name="Email " [(ngModel)]="userCount.Email ">
                    </div>
                    <div class="contact">
                        <label class="mb-2" for="toc ">Contact: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " name="Contact " [(ngModel)]="userCount.Contact ">
                    </div>
                </div>
                <div class="row3">
                    <div class="username">
                        <label class="mb-2" for="toc ">Identifiant: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " name="username " [(ngModel)]="userCount.username ">
                    </div>
                    <div class="password" style="display: flex;align-items: center;gap: 0.7rem;">
                        <div>
                            <label class="mb-2" for="toc ">Mot de passe : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                            <input autocomplete="off" [disabled]="disabledPWD" type="password" class="form-control " name="password " [(ngModel)]="userCount.password ">
                        </div>
                        <div>
                            <label class="mb-2" for="toc ">Confirmer: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                            <input autocomplete="off" [disabled]="disabledPWD" type="password" class="form-control " name="ConfirmPassword" [(ngModel)]="ConfirmPassword ">
                        </div>
                    </div>
                </div>
                <div class="row3">
                    <div class="username-role">
                        <label class="mb-2" for="toc ">Rôle utilisateur : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <select class="form-control" [(ngModel)]="userCount.role" name="role">
                          <option *ngFor="let d of ListRole" [value]="d.id">{{d.Libelle}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button " class="btn btn-secondary " (click)="deleStorageAndClose() ">Annuler</button>
            <button class="btn btn-primary" style="float: right; background: orange;" (click)="submitValed()">Valider la {{subTitle}} de compte</button>
        </div>
    </div>

</ng-template> -->


<!-- <ng-template #contentView let-modal class="content-modal">
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel " style="    font-size: 25px;
      font-weight: 600;">{{titleModal}} <i class="fa fa-users " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button>
    </div>
    <div class="modal-body " style="padding: 2rem 1.25rem;">
        <div>
            <div>
                <table style="width:100%">
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Nom:</td>
                        <td style="text-align: right;">{{stepVIew.Nom}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Prenom:</td>
                        <td style="text-align: right;">{{stepVIew?.Prenom}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Email:</td>
                        <td style="text-align: right;">{{stepVIew?.Email}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Identifiant:</td>
                        <td style="text-align: right;">{{stepVIew?.username}}</td>
                    </tr>
                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Contact:</td>
                        <td style="text-align: right;">{{stepVIew?.Contact}}</td>
                    </tr>

                    <tr style="border-bottom: solid 0.5px #e2e2e2;    font-size: 16px;
                  font-weight: 700;">
                        <td style="text-align: left;">Rôle:</td>
                        <td style="text-align: right;">{{stepVIew?.role}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</ng-template> -->