<div class="bqt-content">
    <div class="title-bqt">Liste des BQT</div>
    <div class="header-bqt">
        <div class="imput-search-btn">
            <small> Filtrer par Service:</small>
            <form action="#">
                <input type="search" class="search" class="form-control">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <button type="button" class="btn btn-primary plus"><i class="fa-solid fa-plus "></i> Créer une BQT</button>
    </div>
    <div class="content-list-bqt">
        <table class="table table-hover">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">Service</th>
                    <th scope="col">Plateforme</th>
                    <th scope="col">Statut BQT</th>
                    <th scope="col">Période BQT</th>
                    <th scope="col"> Date BQT</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td class="">
                        <button type="button" class="btn btn-secondary" style="    margin-right: 0.6rem;">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                        <button type="button" class="btn btn-danger">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <button type="button" class="btn btn-secondary" style="    margin-right: 0.6rem;">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                        <button type="button" class="btn btn-danger">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <button type="button" class="btn btn-secondary" style="    margin-right: 0.6rem;">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                        <button type="button" class="btn btn-danger">
                  <i class="fa fa-edit" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>