<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="/assets/menu/img/gos.jpg"
    />
    <span>KILARI</span>
  
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
  
        <img
        width="40"
        alt="Angular Logo"
        src="../assets/menu/img/gos.jpg" 
      />
    
       <a [routerLink] = "['account']" style="color: white;"> <span>Connect with KILARI APP</span></a>
      
  
    </div>
    <div class="card-container">
        <img class="img-responsive" src="https://static.jumia.ci/cms/external/pet/OR332EL0DJ1X4NAFAMZ/6d31dd5e5a48697733940a97cd7e1222.jpg">
      </div>
  
   
  
    <!-- Footer -->
    <footer>
        <div class="">
            <div class="container">
                 
        
                <b class="copyright">&copy; 2022 KIALRI QOS - GOS </b> All rights reserved.
            </div>
        </div>
    </footer>
  
   
  
  </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <router-outlet></router-outlet>
  