<div class="rai-content">
    <p class="liste-rai">Liste des RAI</p>
    <div class="btn-search-rai">
        <div class="imput-search-btn">
            <!-- <small> Filtrer par Toc:</small> -->
            <form action="#" style="display: flex;gap:1rem">
                <input type="text*" name="searchPorteur" (change)="filterPorteur($event)" [(ngModel)]="searchPorteur" class="form-control" placeholder="Rechercher par porteur" autocomplete="off">
                <input type="text*" name="searchToc" [(ngModel)]="searchToc" (change)="filterTicket($event)" class="form-control" placeholder="Rechercher par ticket" autocomplete="off">
                <i *ngIf="!reloading" (click)="reloadPage()" style=" margin-top: 0.7rem;font-size: 1.4rem;cursor: pointer;" class="fa fa-refresh" aria-hidden="true"></i>
                <div *ngIf="reloading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <!-- <button type="submit" class="btn btn-secondary" (click)="filterTicket()"><i class="fas fa-search"></i></button> -->
            </form>
            <!-- (click)="showModal1()" -->
        </div>
        <button type="button" (click)="showModal1()" class=" btn btn-primary plus "> <i class="fa-solid fa-plus "></i> Créer une RAI</button>
    </div>
    <div class="content-tableau ">
        <nz-table nzBordered #smallTable nzSize="small" [nzData]="ListTickOcean">
            <thead>
                <tr>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Ticket incident</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Porteur</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Toc problème</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Priorité</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Status toc problème</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Date RI reçue</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Date RAI</th>
                    <!-- <th style="font-size: 14px;font-weight: 600;
                     white-space: nowrap;">Date RAI</th> -->
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Type problème</th>
                    <th style="font-size: 14px;font-weight: 600;
                      white-space: nowrap;">Date réception RI</th>
                    <!-- <th style="font-size: 14px;font-weight: 600;
                      white-space: nowrap;">Respect SLA RAI</th> -->
                    <th style="font-size: 14px;font-weight: 600;

                      white-space: nowrap;">Pays</th>
                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;"> Plateforme</th>
                    <th style="font-size: 14px;font-weight: 600;
                      white-space: nowrap;">Service</th>

                    <th style="font-size: 14px;font-weight: 600;
                    white-space: nowrap;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of smallTable.data">
                    <td>
                        <nz-tag *ngFor="let element of item.toc" nzColor="processing" [style]="{marginBottom:'10px'}">
                            {{element.Numero}}
                        </nz-tag>
                    </td>
                    <td style="text-align: center;">{{ item.tocpro[0].Porteur }}</td>
                    <td style="text-align: center;">{{ item.tocpro[0].Numerotocpro }}</td>
                    <td style="text-align: center;" *ngIf="item.tocpro[0].rai[0].declenchement < 4 " class="critical">P1</td>
                    <td style="text-align: center;" *ngIf="item.tocpro[0].rai[0].declenchement >= 4" class="wanning">P2</td>
                    <td style="text-align: center;">Statut</td>
                    <td style="text-align: center;">{{item.Datedebut}}-{{item.heurD}}</td>
                    <td style="text-align: center;">{{item.Datefin}}-{{item.heurF}}</td>
                    <!-- <td style="text-align: center;">{{item.Datedebut}}-{{item.heurD}}</td> -->
                    <td>{{ item.tocpro[0].typeproblem}}</td>
                    <td style="text-align: center;">{{item.Datefin}}-{{item.heurF}}</td>
                    <!-- <td style="text-align: center;">{{getRespac(item.tocpro[0].rai[0].DateRept, item.tocpro[0].rai[0].Datecritere)}}</td> -->

                    <td>
                        <nz-tag *ngFor="let element of item.Impactpays" nzColor="processing" style="    margin-bottom: 0.3rem;">
                            {{func(element.pays)}}
                        </nz-tag>
                    </td>

                    <td>
                        <nz-tag *ngFor="let element of item.Impactplat" nzColor="processing" style="    margin-bottom: 0.3rem;">
                            {{func2(element.Platform)}}
                        </nz-tag>
                    </td>

                    <td style=" margin-bottom: 0.8rem;">
                        <nz-tag *ngFor="let element of item.Impactservice" nzColor="processing" style="    margin-bottom: 0.3rem;">
                            {{func1(element.service)}}
                        </nz-tag>
                    </td>

                    <td class="" style="white-space: nowrap;">
                        <!-- (click)="open(content, item)" -->
                        <button style="    margin-right: 0.6rem;" type="button" class="btn btn-danger">
                  <i class="fa fa-edit" aria-hidden="true" (click)="showModal1(item)"></i>
                </button>
                        <button style="    margin-right: 0.6rem;" (click)="showModal1Detail(item)" type="button" class="btn btn-success">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                    </td>
                    <!-- (click)="openView(contentView, item)" -->
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisibleReservation" nzWidth="1050px" [style]="{fontSize: '23px',color:'#8D191E',height:'23%'}" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()">

    <ng-template #modalTitle>
        <div class="modal-header ">
            <h5 class="modal-title " id="exampleModalLabel " style="    font-size: 25px;
font-weight: 600;">{{titleModal}} <i class="fa fa-tasks " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
            <!-- <button type="button " style="outline: none; " class="btn-close " (click)="deleStorageAndClose() "><span class="visually-hidden ">Close</span></button> -->
        </div>
    </ng-template>
    <div *nzModalContent>
        <div class="modal-body ">
            <div class="step-line ">
                <div class="step1 background1 " id="step1 " [ngClass]="{ 'background2': backgroundStep1} ">
                    <span class="badge bg-secondary ">1</span>
                    <small>Etape</small>
                </div>
                <div class="step2 " id="step2 " [ngClass]="{ 'background1': backgroundStep1, 'background2': backgroundStep2} ">
                    <span class="badge bg-secondary ">2</span>
                    <small>Etape</small>
                </div>
                <div class="step3 " id="step3 " [ngClass]="{ 'background1': backgroundStep2, 'background2': backgroundStep3} ">
                    <span class="badge bg-secondary ">3</span>
                    <small>Etape</small>
                </div>
                <div class="step3 " id="step3 " [ngClass]="{ 'background1': backgroundSTep4} ">
                    <span class="badge bg-secondary ">4</span>
                    <small>Etape</small>
                </div>
            </div>
            <div id="imput-content-step1 " *ngIf="groundStep1">
                <div class="imput-content-step1 ">
                    <div class="content ">
                        <div class="content-left ">
                            <div class="toc ">
                                <label for="toc ">Ticket incident: <small class="red-star" style="color: red;font-size: 20px;">*</small>
                        <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        title="Le ticket incident oceanne doit être de cet formet 2204T78856"></i></label>
                                <input type="text" class="form-control " name="numeroToc " [(ngModel)]="numeroToc " (keyup.enter)="onKeyAddNumber($event)">
                                <div class="item-sup">
                                    <span title="supprimer" style="background: gray;
                          padding: 0.1rem 0.4rem;
                          border-radius: 0px;margin-right: 0.3rem;    font-size: 15px;
                          font-weight: 700;" *ngFor="let item of values">{{item.Numero}} <small (click)="remove(item)" style="color: orangered;cursor: pointer;">X</small></span>
                                </div>
                            </div>
                            <div class="pays ">
                                <label for="pays ">Pays:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <nz-select nzMode="tags" nzPlaceHolder="Selectionner les pays" name="pays" style="width: 100%;" [(ngModel)]="step1.pays">
                                    <nz-option *ngFor="let option of ListPays" [nzLabel]="option.Libelle" [nzValue]="option.id"></nz-option>
                                </nz-select>
                            </div>

                            <div class="date-incident ">
                                <label for="date-incident ">Date incident:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input type="date" class="form-control " name="Datedebut " [(ngModel)]="step1.Datedebut ">
                            </div>

                            <div class="retablissement ">
                                <label for="retablissement ">Retablissement:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input type="date" class="form-control " name="Datefin" [(ngModel)]="step1.Datefin ">
                            </div>

                        </div>
                        <div class="content-right ">
                            <div class="propriete ">
                                <label for="propriete">Priorité:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select class="form-select" name="priorite" [(ngModel)]="step1.priorite" aria-label="Default select example ">
                        <option *ngFor="let item of Priorite " [value]="item.value " >{{item.value}}</option>
                      </select>
                            </div>
                            <div class="plateforme">
                                <div class="platforme" style="width: 100%;">
                                    <label for="platforme">Plateforme:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                    <nz-select nzMode="tags" nzPlaceHolder="Selectionner les plateformes" name="tags" style="width: 100%;" [(ngModel)]="step1.Platforme">
                                        <nz-option *ngFor="let option of listPlateforme" [nzLabel]="option.Libelle" [nzValue]="option.id"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="service" style="width: 100%;">
                                    <label for="service">Services:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>

                                    <nz-select nzMode="tags" nzPlaceHolder="Selectionner les services" name="Service" style="width: 100%;" [(ngModel)]="step1.Service">
                                        <nz-option *ngFor="let option of listService" [nzLabel]="option.Libelle" [nzValue]="option.id"></nz-option>
                                    </nz-select>
                                </div>
                            </div>


                            <div class="heure-incident ">
                                <label for="heure-incident ">Heure incident:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input type="time" name="heurD" [(ngModel)]="step1.heurD" class="form-control ">
                            </div>
                            <div class="heure-retablissement">
                                <label for="heure-retablissement">Heure retablissement:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input type="time" class="form-control " name="heurF" [(ngModel)]="step1.heurF ">
                            </div>
                        </div>
                    </div>
                    <div class="description ">
                        <label for="description ">Description:<small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <textarea name="description " id="description " cols="30 " rows="4 " [(ngModel)]="step1.Description"></textarea>
                    </div>
                    <div class="footer-step1 ">
                        <button *ngIf="!step1.id && !disableChamp" type="button " class="btn btn-primary " (click)="createRAi() ">
                <span *ngIf="!loading ">Enregistrer et passé a l'etape suivant</span>
                <span *ngIf="loading " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading " style="margin-left: 0.2rem; ">Loading...</span>
              </button>
                        <button *ngIf="step1.id && !disableChamp" type="button " class="btn btn-primary " (click)="updateStep1() ">
                <span *ngIf="!loading ">Modifier et passé a l'etape suivant</span>
                <span *ngIf="loading " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading " style="margin-left: 0.2rem; ">Loading...</span>
              </button>
                    </div>
                </div>
            </div>
            <!--  -->
            <div id="imput-content-step2 " *ngIf="groundStep2">
                <div class="imput-content-step2 ">
                    <div class="top-problem ">
                        <label for="toc-problem ">Ticket problème: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <input type="text " class="form-control " [(ngModel)]="step2.Numerotocpro " name="Numerotocpro ">
                    </div>
                    <div class="porteur ">
                        <label for="porteur ">Porteur: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <select class="form-select " name="Porteur " [(ngModel)]="step2.Porteur " aria-label="Default select example ">
                          <option></option>
                          <option *ngFor="let item of Porteur " [value]="item.value ">{{item.value}}</option>
                        </select>
                    </div>
                    <div class="type ">
                        <label for="type ">Type problème: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                        <select class="form-select " name="typeproblem " [(ngModel)]="step2.typeproblem " aria-label="Default select example ">
                          <option *ngFor="let item of TypeProbleme " [value]="item.value ">{{item.value}}</option>
                        </select>
                    </div>
                    <div class="footer-stpe2 ">
                        <button *ngIf="!step2.id && !disableChamp" type="button " class="btn btn-primary " (click)="nextStep2() ">
                          <span *ngIf="!loading1 ">Enregistrer et passé a l'etape suivant</span>
                          <span *ngIf="loading1 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                          <span *ngIf="loading1 " style="margin-left: 0.2rem; ">Loading...</span>
                        </button>
                        <button *ngIf="step2.id && !disableChamp" type="button " class="btn btn-primary " (click)="updateStep2() ">
                <span *ngIf="!loading1 ">Modifier et passé a l'etape suivant</span>
                <span *ngIf="loading1 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading1 " style="margin-left: 0.2rem; ">Loading...</span>
              </button>
                    </div>
                </div>
            </div>
            <!--  -->
            <div id="imput-content-step3 " *ngIf="groundStep3">
                <div class="imput-content-step3 ">
                    <div class="content ">
                        <div class="content-left ">
                            <div class="statut-rai ">
                                <label for="statut-rai ">Statut Rai : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="status" [(ngModel)]="step3.status" (change)="dissabledChampR($event)">
                                  <option>Selectionner un statut</option>
                                  <option *ngFor="let item of StatusRAI" [value]="item.value">{{item.value}}</option>
                              </select>
                            </div>
                            <div class="rai-recu ">
                                <label for="rai-recu ">Rapport incident Recu : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <div style="display: flex;gap:1rem">
                                    <div class="div1" style="width: 100%;">
                                        <select id="inputState " class="form-select " name="Rairecu" [(ngModel)]="step3.Rairecu">
                                      <option *ngFor="let item of RI_recu" [value]="item.value">{{item.value}}</option>
                                    </select>
                                    </div>
                                    <div class="div1" style=" width: 100%;">
                                        <input type="file" [disabled]="DisabledRAI" name="uploadedFileRI" id="uploadedFileRI" (change)="fileChangeRI($event)" [(ngModel)]="step3.uploadedFileRI" accept="*/*">
                                        <label [ngClass]="{ 'pointerFalse': !DisabledRAI, 'pointerTrue': DisabledRAI} " class="uploadedFileRI" for="uploadedFileRI">
                                            <i class="fas fa-save" style="    margin-right: 1rem;
                                            font-size: 23px;"></i>
                                            Joindre un fichier RI
                                          </label>
                                        <small style="font-size: 16px;
                                          font-weight: 600;">{{step3.uploadedFileRI?.name}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="e ">
                                <label for="rapport-redige ">Rapport Rédigé : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="Rapportredige" [(ngModel)]="step3.Rapportredige">
                                  <option *ngFor="let item of Rediges" [value]="item.value">{{item.value}}</option>
                                </select>
                            </div>
                            <div class="rapport-partage ">
                                <label for="rapport-partage ">Rapport Partagé : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="Rapportpartage" [(ngModel)]="step3.Rapportpartage">
                                  <option *ngFor="let item of Partages" [value]="item.value">{{item.value}}</option>
                                </select>
                            </div>
                            <div class="compte-rendu ">
                                <label for="rcompte-rendu ">Compte rendu : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="Comptrendus" [(ngModel)]="step3.Comptrendus">
                                  <option *ngFor="let item of Compte_rendu" [value]="item.value">{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="content-right ">
                            <div class="date-rai ">
                                <label for="date-rai ">Date de la RAI : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input name="Datecritere" [(ngModel)]="step3.Datecritere" type="date" class="form-control ">
                            </div>
                            <div class="date-reception-rai ">
                                <label for="date-reception-rai ">Date d'incident de la RI : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <input type="date" name="DateRept" [(ngModel)]="step3.DateRept" class="form-control ">
                            </div>
                            <div class="cause ">
                                <label for="jointoc ">Joint au ticket oceanne : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="Jointoc" [(ngModel)]="step3.Jointoc">
                                <option *ngFor="let item of Join" [value]="item.value">{{item.value}}</option>
                              </select>
                            </div>

                            <div class="root-cause ">
                                <label for="declenchement ">Déclenchement Rapport incident : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="inputState " class="form-select " name="declenchement" [(ngModel)]="step3.declenchement">
                                <option *ngFor="let item of declenchement" [value]="item.value">{{item.value}}</option>
                              </select>
                            </div>
                            <div class="action ">
                                <label for="action ">Action de rétablissement : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <textarea name="Actionretablissement" [(ngModel)]="step3.Actionretablissement" id=" " cols="30 " rows="2 "></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="commentaires ">
                        <div style="width: 100%;display: flex;flex-direction: column;">
                            <label for="cause ">Cause immédiate: <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                            <textarea name="Cause" [(ngModel)]="step3.Cause" id=" " cols="30 " rows="6"></textarea>
                        </div>
                    </div>
                    <div class="footer-finale ">
                        <button *ngIf="!step3.id && !disableChamp" type="button " class="btn btn-primary " (click)="finalStep() ">
                <span *ngIf="!loading2 " style="margin-left: 0.2rem; ">Sauvegarder</span>
                <span *ngIf="loading2 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading2 " style="margin-left: 0.2rem; ">Loading...</span>
              </button>
                        <button *ngIf="step3.id && !disableChamp" type="button " class="btn btn-primary " (click)="editRAI() ">
                <span *ngIf="!loading2 " style="margin-left: 0.2rem; ">Sauvegarder la modification</span>
                <span *ngIf="loading2 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading2 " style="margin-left: 0.2rem; ">Loading...</span>
              </button>

                        <button *ngIf=" !dissabledR" type="button " class="btn btn-success " (click)="nexStep4() ">
                <span *ngIf="!loading2 " style="margin-left: 0.2rem; ">Passer à l'étape 4</span>
                <span *ngIf="loading2 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                <span *ngIf="loading2 " style="margin-left: 0.2rem; ">Loading...</span>
              </button>


                        <button *ngIf="disableChamp" type="button " class="btn btn-primary" (click)="handleCancel()">
                <span>Fermer le modal</span>
              </button>
                    </div>
                </div>
            </div>

            <div id="imput-content-step3 " *ngIf="groundStep4">
                <div class="imput-content-step3 ">
                    <div class="content ">
                        <div class="content-left ">
                            <div class="statut-rai ">
                                <label for="stat-root-cause ">Status root cause : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select class="form-select " aria-label="Default select example " name="Statrootcause" [(ngModel)]="step3.Statrootcause">
                              <option *ngFor="let item of Stat_root" [value]="item.value">{{item.value}}</option>
                            </select>
                            </div>
                            <div class="rai-recu ">
                                <label for="root-cause ">Root cause : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <textarea name="Rootcause" [(ngModel)]="step3.Rootcause" id=" " cols="30 " rows="6"></textarea>
                            </div>
                        </div>
                        <div class="content-right ">
                            <div class="date-rai ">
                                <label for="type-solution ">Types de solution : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                <select id="Typesolution " name="Typesolution" [(ngModel)]="step3.Typesolution" class="form-select ">
                              <option *ngFor="let item of action_solut" [value]="item.value">{{item.value}}</option>
                            </select>
                            </div>
                            <div class="date-reception-rai ">
                                <div style="    width: 100%;">
                                    <label for="commentaires ">Commentaires : <small class="red-star" style="color: red;font-size: 20px;">*</small></label>
                                    <textarea name="Commentaire" [(ngModel)]="step3.Commentaire" id=" " cols="30 " rows="6 " style="width: 100%;"></textarea>
                                </div>
                                <!-- <div class="div1" style=" width: 80%;">
                                    <input type="file" name="uploadedFileRAI" id="uploadedFileRAI" (change)="fileChangeRAI($event)" [(ngModel)]="step3.uploadedFileRAI" accept="*/*">
                                    <label class="uploadedFileRAI" for="uploadedFileRAI">
                                      <i class="fas fa-save" style="    margin-right: 1rem;
                                      font-size: 21px;"></i>
                                      Joindre un fichier RAI
                                    </label>
                                    <small style="font-size: 16px;
                                    font-weight: 600;">{{step3.uploadedFileRAI?.name}}</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="footer-finale ">
                        <button type="button " *ngIf="!disableChamp" class="btn btn-secondary " (click)="handleCancel() ">Annuler</button>
                        <button *ngIf="!step3.id && !disableChamp" type="button " class="btn btn-primary " (click)="finalStep2() ">
                        <span *ngIf="!loading2 " style="margin-left: 0.2rem; ">Sauvegarder</span>
                        <span *ngIf="loading2 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                        <span *ngIf="loading2 " style="margin-left: 0.2rem; ">Loading...</span>
                      </button>
                        <button *ngIf="step3.id && !disableChamp" type="button " class="btn btn-primary " (click)="editRAI() ">
                        <span *ngIf="!loading2 " style="margin-left: 0.2rem; ">Sauvegarder la modification</span>
                        <span *ngIf="loading2 " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                        <span *ngIf="loading2 " style="margin-left: 0.2rem; ">Loading...</span>
                      </button>
                        <button *ngIf="disableChamp" type="button " class="btn btn-primary" (click)="handleCancel()">
                        <span>Fermer le modal</span>
                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter [style]="{display:'flex',    padding: '1%', borderTop: 'none',    justifyContent: 'center',textAlign: 'center',
flexDirection: 'column'}">
    </div>

</nz-modal>


<nz-modal [(nzVisible)]="isVisibleDetail" nzWidth="1300px" [style]="{fontSize: '23px',color:'#8D191E',height:'23%'}" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()">

    <ng-template #modalTitle>
        <div class="modal-header ">
            <h5 class="modal-title " id="exampleModalLabel " style="    font-size: 25px;
              font-weight: 600;">{{titleModal}} <i class="fa fa-tasks " style=" font-size:1rem ; margin-left: 1rem; color: #ff7900; " aria-hidden="true "></i></h5>
        </div>
    </ng-template>
    <div *nzModalContent>
        <div class="part1">

            <div class="parti-datail">


                <div class="ligne1-detail1">
                    <div class="ligne1">Detail du ticket incident</div>

                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Les différents tickets incident</div>
                        <div class="">
                            <nz-tag *ngFor="let element of elementRAI.toc" nzColor="processing" [style]="{marginBottom:'10px'}">
                                {{element.Numero}}
                            </nz-tag>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Description du ticket incident</div>
                        <div class="" style="color: orange;">{{elementRAI.Description}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Date et heure de début du incident</div>
                        <div class="" style="color: orange;">{{elementRAI.Datedebut}} {{elementRAI.heurD}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Date et heure de rétablissement de l'incident</div>
                        <div class="" style="color: orange;">{{elementRAI.Datefin}} {{elementRAI.heurF}}</div>
                    </div>
                    <div class="div1" style="    font-weight: bolder;">
                        <div class="">Priorité de l'incident</div>
                        <div class="" style="color: orange;">{{elementRAI.priorite}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Pays impacter par l'incident</div>
                        <div class="" style="color: orange;">
                            <nz-tag *ngFor="let element of elementRAI.Impactpays" nzColor="processing">
                                {{func(element.pays)}}
                            </nz-tag>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Servce impacter par l'incident</div>
                        <div class="" style="color: orange;">
                            <nz-tag *ngFor="let element of elementRAI.Impactservice" nzColor="processing">
                                {{func1(element.service)}}
                            </nz-tag>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Plateforme impacter par de l'incident</div>
                        <div class="" style="color: orange;">
                            <nz-tag *ngFor="let element of elementRAI.Impactplat" nzColor="processing">
                                {{func2(element.Platform)}}
                            </nz-tag>
                        </div>

                    </div>
                </div>
                <div class="ligne1-detail2">
                    <div class="ligne1">Detail du ticket problème</div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Le ticket problème</div>
                        <div class="">
                            {{elementRAI.tocpro[0].Numerotocpro}}
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Porteur</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].Porteur}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Type de problème</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].typeproblem}}</div>
                    </div>
                </div>
            </div>

            <div class="parti-datail">


                <div class="ligne1-detail1">
                    <div class="ligne1">Detail du Rapport d'analyse d'incident</div>

                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Action de rétablissement</div>
                        <div class="">
                            {{elementRAI.tocpro[0].rai[0].Actionretablissement}}
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Cause incident</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].Cause}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Compte rendu</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].Comptrendus}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Date de la reception de la RAI</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].DateRept}}</div>
                    </div>
                    <div class="div1" style="    font-weight: bolder;">
                        <div class="">Date de la RAI</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].Datecritere}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Rapport partagé</div>
                        <div class="" style="color: orange;">
                            {{elementRAI.tocpro[0].rai[0].Rapportpartage}}
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Rapport rédigé</div>
                        <div class="" style="color: orange;">
                            {{elementRAI.tocpro[0].rai[0].Rapportredige}}
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;">Rapport d'incident reçu</div>
                        <div class="" style="color: orange;">
                            {{elementRAI.tocpro[0].rai[0].Rirecu}}
                        </div>
                    </div>
                    <div class="div1">

                        <div class="" style="    font-weight: bolder;">Respect SLA RAI</div>
                        <div class="" style="color: red;">
                            {{elementRAI.tocpro[0].rai[0].Rirecu}}
                        </div>
                    </div>
                </div>
                <div class="ligne1-detail2">
                    <div class="ligne1">Detail du Rapport d'analyse d'incident</div>

                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Root cause</div>
                        <div class="">
                            {{elementRAI.tocpro[0].rai[0].Rootcause}}
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Fichier Rapport Analyse d'incident</div>
                        <div class="" style="color: orange;">
                            <img nz-image width="23px" height="29px" nzSrc="../../../assets/PDF.png" alt="" />
                            <!-- <img src="../../../assets/PDF.png" alt="pdf prez" style="width: 23px;height: 29px;"> -->
                            <!-- {{elementRAI.tocpro[0].rai[0].uploadedFileRAI}} -->
                        </div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Statut root cause</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].Statrootcause}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Type de solution</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].Typesolution}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Déclenchement</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].declenchement}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> Statut rapport incident</div>
                        <div class="" style="color: orange;">{{elementRAI.tocpro[0].rai[0].status}}</div>
                    </div>
                    <div class="div1">
                        <div class="" style="    font-weight: bolder;"> MTTR</div>
                        <div class="" style="color: red;">{{elementRAI.tocpro[0].rai[0].status}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter [style]="{display:'flex',    padding: '1%', borderTop: 'none',    justifyContent: 'center',textAlign: 'center',
flexDirection: 'column'}">
        <!-- <button></button> -->
    </div>

</nz-modal>
