.rai-content {
    .liste-rai {
        font-size: 2.4rem;
        font-weight: 600;
        color: black;
    }
    .btn-search-rai {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.7rem;
        .imput-search-btn {
            display: flex;
            max-width: 27.4rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            small {
                font-size: 1rem;
                font-weight: 600;
                color: black;
            }
            form {
                display: flex;
                gap: 0.3rem;
                .search {}
                button {
                    i {}
                }
            }
        }
        .plus {
            i {
                margin-right: 1.04rem;
            }
        }
    }
    .content-tableau {
        margin-top: 3rem;
    }
}

// .content-modal {
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 2rem 1.25rem;
    .step-line {
        display: flex;
        width: 100%;
        border-bottom: 2px solid #d3c5c5;
        padding-bottom: 0.1rem;
        gap: 4rem;
        .step1 {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            padding: 0.3rem;
            // background: #ff7900;
            span {
                color: white;
            }
            small {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
        .step2 {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            padding: 0.3rem;
            // background: gray;
            span {}
            small {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
        .step3 {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            padding: 0.3rem;
            // background: #ff7900;
            span {}
            small {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    .imput-content-step1 {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        .content {
            display: flex;
            width: 100%;
            gap: 2rem;
            justify-content: space-between;
            margin-top: 2rem;
            .content-left {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.1rem;
                .toc {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .pays {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .heure-incident {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .heure-retablissement {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
            }
            .content-right {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.1rem;
                .propriete {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .date-incident {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .retablissement {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .plateforme {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        .footer-stpe1 {}
    }
    .imput-content-step2 {
        margin-top: 0rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        .top-problem {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        .porteur {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        .type {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        .footer-stpe2 {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            width: 325px;
        }
    }
    .imput-content-step3 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .content {
            display: flex;
            width: 100%;
            gap: 2rem;
            margin-top: 2rem;
            .content-left {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                .statut-rai {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .rai-recu {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .rapport-redige {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .rapport-partage {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .compte-rendu {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .jointoc {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .declenchement {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
            }
            .content-right {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                .date-rai {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .date-reception-rai {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .cause {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .root-cause {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .stat-root-cause {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .action {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                .type-solution {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
            }
        }
        .commentaires {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        .footer-finale {
            display: flex;
            gap: 1rem;
        }
    }
}

// }
// .modal-body {
//     position: relative;
//     flex: 1 1 auto;
//     padding: 2rem 1.25rem;
// }
.background1 {
    background: #ff7900;
}

.background2 {
    background: transparent;
}

.background3 {
    background: gray;
}
