<div class="dashboard-container">
    <h1>Tableau de bord</h1>

    <!-- <div class="row mt-5">
        <div class="col-6">
            <div id="chart-gauge"></div>
        </div>

    </div> -->
    <div class="row mt-5">
        <div class="col-4">
            <div id="chart-column"></div>
        </div>
        <div class="col-4">
            <div id="chart-line"></div>
        </div>
        <div class="col-4">
            <div id="chart-pie"></div>
        </div>
    </div>
    <div class="number-dashboard">
        <div class="content-user">
            <div class="user-valide">
                <small class="small-round"> <span class="round orange">&nbsp;</span><small>Utilsateurs confirmés</small></small>
                <p>20</p>
            </div>
            <div class="user-invalide">
                <small class="small-round"><span class="round noir">&nbsp;</span><small>Utilsateurs non confirmés</small></small>
                <p>20</p>
            </div>
        </div>
        <div class="content-bqt">
            <div class="bqt-valide">
                <small class="small-round"> <span class="round orange">&nbsp;</span><small>BQT traités</small></small>
                <p>20</p>
            </div>
            <div class="bqt-invalide">
                <small class="small-round"> <span class="round noir">&nbsp;</span><small>BQT non traités</small></small>
                <p>20</p>
            </div>
        </div>
        <div class="content-rai">
            <div class="rai-valide">
                <small class="small-round"><span class="round orange">&nbsp;</span><small>RAI traités</small></small>
                <p>20</p>
            </div>
            <div class="rai-invalide">
                <small class="small-round"><span class="round noir">&nbsp;</span><small>RAI non traités</small></small>
                <p>20</p>
            </div>
        </div>
    </div>



    <div class="number-dashboard-part1">
        <div class="content-user">
            <i class="icon-envelope"></i>
            <div class="user-valide">
                Messages
            </div>

        </div>
        <div class="content-bqt">
            <i class="icon-group"></i>
            <div class="bqt-invalide">
                CLients
            </div>
        </div>
        <div class="content-rai">
            <i class="icon-exchange"></i>
            <div class="rai-invalide">
                Expenses
            </div>
        </div>
    </div>

    <div class="number-dashboard-part2">
        <div class="content-user">
            <i class="icon-save"></i>
            <div class="user-valide">
                Tale sales
            </div>
        </div>
        <div class="content-bqt">
            <i class="icon-bullhorn"></i>
            <div class="bqt-invalide">
                Social Feed
            </div>
        </div>
        <div class="content-rai">
            <i class="icon-sort-down"></i>
            <div class="rai-invalide">
                Bounce
            </div>
        </div>
    </div>
</div>
